---
layout: default
---

<div class="home">

  <!-- <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
  
  <div>
    This is my note lot for storing all tech topics learned in the past. 
    The main purpose of this lot is facilitating the study process as well as recording the information for later review.
  </div>
  
  <br/>
  <br/>
  <br/>
  
  <div class="trigger">
    <ui>
      {% assign sorted_pages = site.pages | sort:"title" %}
      {% for page in sorted_pages %}
        {% if page.title %}
        <li><a class="page-link" href="{{site.baseurl}}{{page.url}}">{{ page.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ui>
  </div>

</div>
